

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    font-family: Lexend;
    
}

.list-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    vertical-align: middle;
}

.form-group {
    display: flex;
    
}


