

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

header {
    margin-right: 10px;
}

body {
    font-family: Lexend;
    margin: 10px;
    
}

menu {
    list-style-type: none;
}

.list-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    justify-content: right;
}

.list-group-item-text {
    flex: 1;
}

.form-group {
    display: flex;
    justify-content: right;
}

#top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    justify-content: right;
    gap: 10px;
}

#work-session {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#work-session-menu {
    display: flex;
    flex-direction: row;
}

#login-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
}

#login-form {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

#index-body {
    display: flex;
    flex-direction: column;
}
#index-main {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
}
.login-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}








